<a type="button" class="btn btn-lg btn-default" href="https://twitter.com/alik5"><i class="fa fa-twitter fa-2x"></i></a>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/alifitzgerald"><i class="fa fa-github fa-2x"></i></a>
     <a type="button" class="btn btn-lg btn-default" href="mailto:alikfitz@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>