.jumbotron {
  background: -webkit-linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* W3C */
        
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

 .bgimage {
  overflow: scroll; 
  font-family: 'Oxygen', sans-serif;
 }

 .bgimage a {
  font-size: 1.2em;
  color: #616161;
 }

 .description li {
    list-style: none;
    margin-top: 45%
 }

 .description p {
  font-size: 1.5em;
 }

 .thumb {
  width: 100%;
 }

 .height {
  height: 50%;
 }

 .grid {
    width: 100%;
    height: auto;
 }



.slide-animate {
  padding:10px;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;

 
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:0px;
}

.slide-animate.ng-enter {
  left:-50px;
}
.slide-animate.ng-enter.ng-enter-active {
  left:0;
}

.slide-animate.ng-leave {
  left:0;
}
.slide-animate.ng-leave.ng-leave-active {
  left:50px;
}

.floating {
  padding-top: 2%; 
  z-index: -1;
  width: 100%;
}

.dots {
  list-style: none; 
  color: #616161;
  font-size: 1.2em; 
}

.area {
  padding-bottom: 5%; 
}

.arrow {
  color: #CFCFCF;
}


