.number {
  transition: 0.4s linear all;
}

.number.ng-enter {
  opacity: 0;
}

.trial {
  padding-top: 2%; 
  padding-bottom: 5px; 
}

.footer {
  text-align: center; 
}

.btn {
  border: none;
  margin: 10px; 
  background-color: #D0D6C9;
  box-shadow: 3px 3px 1px #92968D;
}

.fa {
  color: #545651;
}