
<div class="container slider area" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-md-8">
 	<img ng-repeat="photo in photos | filter:{category:currentCategory.name}" class="slide slide-animation nonDraggableImage floating"
         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{photo.photo}}">
   </div>
   <div class="col-md-4">
      <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
            <a class="arrow next" ng-click="prevSlide()"><i class="fa fa-angle-left fa-4x arrow"></i></a>
                <li class="dot" ng-repeat="photo in photos" ng-hide="!isCurrentSlideIndex($index)">
                    <h1><a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                      ng-click="setCurrentSlideIndex($index);">{{photo.name}}</a></h1></li>
            <a class="arrow prev" ng-click="nextSlide()"><i class="fa fa-angle-right fa-4x arrow"></i></a>
            </ul>
        </div>
    </nav>
</div>
   	
	
   </div>
  </div>
 </div>
</div>
