
<div class="container slider area" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-md-8">
 	<img ng-repeat="photo in photos | filter:{category:currentCategory.name}" class="slide slide-animation nonDraggableImage floating"
         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{photo.photo}}">
   </div>
   <div class="col-md-4">
      <nav class="nav">
        <div class="wrapper">
           
            <a class="arrow next" ng-click="prevSlide()"><i class="fa fa-angle-left fa-4x arrow"></i></a>
                <ul class="dots" ng-repeat="photo in photos" ng-hide="!isCurrentSlideIndex($index)">
                    <li><a href="#" ng-class="{'active':isCurrentSlideIndex($index)} slide-animation"
                      ng-click="setCurrentSlideIndex($index);"><b>{{photo.name}}</b></a></li>
                       <li><a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                      ng-click="setCurrentSlideIndex($index);">{{photo.description}}</a></li>

                 </ul>
            <a class="arrow prev" ng-click="nextSlide()"><i class="fa fa-angle-right fa-4x arrow"></i></a>
            
        </div>
    </nav>
</div>
   	
	
   </div>
  </div>
 </div>
</div>
