<!DOCTYPE html>
<html ng-app="portfolio">
<head>
  <% include ../partials/header.ejs %>
</head>

<body ng-controller="MainCtrl" class="background">
<!--<div class="jumbotron text-center">-->
  <div class="bgimage area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills nav-justified">
            <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}">
              <a ng-click="setCurrentCategory(category)">{{category.name}}</a>
            </li>
          </ul>
        </div>

         <div class="row">
          <div class="col-md-12">
            <a href="#" ng-click="setCurrentCategory(null)"><img src="/images/my-name-math.png" class="img-responsive center-block trial"></a>
            <div ng-show="currentCategory == null"><img src="/images/shape.png" class="img-responsive center-block trial hider"></div>
          </div>
          </div>
        <div ng-repeat="frame in frames | filter:{category:currentCategory.name}" >
        <div ng-if="currentCategory != null" ng-include="frame.url" class="number"></div>
          
        </div>
      </div>
    </div>
  </div>
 



<div ui-view></div>

<div ng-show="currentCategory == null" class="hider">
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer">
        <% include ../partials/footer.ejs %>
      </div>
    </div>
  </div>
</div>

    <!-- video block goes here -->


</div>
</body>
</html>
