<!DOCTYPE html>
<html ng-app="portfolio">
<head>
  <% include ../partials/header.ejs %>
</head>

<body ng-controller="MainCtrl" class="background">
<!--<div class="jumbotron text-center">-->
  <div class="bgimage area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs nav-justified">
            <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}">
              <a ng-click="setCurrentCategory(category)">{{category.name}}</a>
            </li>
          </ul>
        </div>
        <div ng-repeat="frame in frames | filter:{category:currentCategory.name}">
        <div ng-if="currentCategory != null" ng-include="frame.url"></div>
          
        </div>
      </div>
    </div>
  </div>
 



<div ui-view></div>




    <!-- video block goes here -->


</div>
</body>
</html>
